/Basico/Practica02/nbproject/private/
/Basico/Practica02/build/
/Basico/PracticaPrueba04/JavaApplication4/nbproject/private/
/Basico/PracticaPrueba04/PruebaPractica04/nbproject/private/
/Basico/Practica04/Practica04/nbproject/private/
/Basico/Practica04/Practica04/build/
/Basico/Practica05/Practica05/nbproject/private/
/Basico/Practica05/nbproject/private/
/Basico/Practica05/build/
/Basico/EjerciciosCurso/nbproject/private/
/Basico/EjerciciosCurso/build/
/Basico/Practica06/nbproject/private/
/Basico/Practica06/build/
/Basico/Practica07/nbproject/private/
/Basico/Practica07/build/
/Basico/TutorialYouTube/nbproject/private/
/Basico/TutorialYouTube/build/